name: CI/CD

on:
  push:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Log in to Docker Hub
      run: docker login -u "${{ secrets.DOCKER_HUB_USERNAME }}" -p "${{ secrets.DOCKER_HUB_PASSWORD }}"

    - name: Build
      run: go build -o main .

    - name: Build and Push Docker Image
      run: |
        docker build -t mazcot4devops/mi-app:latest .
        docker push mazcot4devops/mi-app:latest


    - name: Update Helm Chart Image
      run: |
        helm repo add stable https://charts.helm.sh/stable
        helm repo update
        cd MI/charts  # Change to the correct directory
        helm upgrade mi-app ./ --namespace mi \
          --set image.repository=mazcot4devops/mi-app \
          --set image.tag=latest
        helm status mi-app --namespace mi

